@import './variables';

.home-page-wrapper {
    background-color: $bg-yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10rem;
    
}

.clock-wrapper img{
    width: 17rem;
    height: 17rem;
}

.clock-wrapper h1 {
    width: 1rem;
    margin: 0rem 3rem ;
}

.menu-box {
    background-image: url('../assets/menu-bg.png');
    background-size: cover; /* Make sure the image covers the entire div */
    background-position: center; /* Center the image within the div */
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    width: 17rem;
    height: 17rem;
}

.start-button {
    background-color: rgba($orange, 0.4);
    color: $orange;
    font-family: "Pixelify Sans";
    border: 4px solid $orange;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-button:hover {
    background-color: rgba($orange, 0.7); /* Change background on hover */
    color: $light-yellow; /* Change text color to white */
    transform: scale(1.1); /* Grow the button slightly */
    box-shadow: 0px 4px 15px rgba($orange, 0.6); /* Add a soft shadow effect */
}

.menu-box h1 {
    color: $orange;
    font-size: 3rem;
}