@import './variables';

.select-time-page-wrapper{
    background-image: url('../assets/select-page-bg.png');
    background-size: cover; /* Make sure the image covers the entire div */
    background-position: center; /* Center the image within the div */
    background-repeat: no-repeat;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10rem;
}

.select-box {
    background-color: $light-yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 30rem;
}

.select-box img {
    height: 9rem;
    width: 9rem;
    border: 2px solid $bg-yellow;
}

